html
    head 
        title pug tempate 
        style
            include styles.css
    body 
    p 
        h1 Meetup!
    #form 
        h2 Register
        form(action="/register", method="post") 
            label(for="firstname") 	First name &#x27A1;        
            input(type="text", name="firstname", class="field")
            br
            br
            label(for="username") 	Username &#x27A1;        
            input(type="text", name="username", class="field")
            br
            br
            label(for="pass") 	Password &#x27A1;       
            input(type="password", name='password')
            br
            br
            button(type="submit") Submit
        a(href="/auth/google") Sign in with google
        br
        br

        a(href="/") Back to login
