doctype html
head
  style
    include styles.css
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
h1 Hi there #{fn}
h2 Select a chatroom
br
br
.flexcontain
  div
    // <img src="music.jpg" alt="music" width="5%" /><br /><br />
    a#ml(href='/music-chat') Music
  div
    // <img src="ball.jpg" alt="Sports" width="50%" /><br /><br />
    a#sl(href='/sports-chat') Sports
  div
    // <img src="tech.jpg" alt="Technology" width="0%" /><br /><br />
    a#tl(href='/tech-chat') Technology
a#logout(href='/logout') Logout
script(src='/profiledom.js')
