 body {
   background-image: url("chatbg2.png");
  margin: 0;
  padding-bottom: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

#form {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 3rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}
#input {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}
#input:focus {
  outline: none;
}
#form > button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#messages > li {
  padding: 0.5rem 1rem;
}

ul li {
  display: inline-block;
  clear: both;
  padding: 20px;
  border-radius: 30px;
  margin-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
}
.heading{
  text-align: center;
  color: white;
/*   background-color: green; */
}
#heading{
    text-align: center;
  color: white;
}
.heading2 {
  display: block;
  clear: both;
  text-align: center; 
}
#bothHeading{
  color: white;
  background-color: #191919;
  border: 5px grey;
  border-style: outset;
}
h2{
  color: white;
}
.me {
  float: right;
  display: block;
  background: #0084ff;
  color: #fff;
  font-size: 1.5rem;
}
.him {
  float: left;
  display: block;
  background: grey;
  color: #fff;
}
